/*!
  * kinesis.io Kinesis Stylesheet
  * http://kinesis.io/
  *
  * Copyright 2012, Kinesis.io
  * http://kinesis.io/license
  *
  * Copyright 2012, NotionQ LLP
  *
  * Date: Thu Feb 23 15:53:00 2012 +0530
*/

* {
  margin: 0;
  padding: 0;
}

/* cursor styles starts */
#cursor{
  top: -200px;
  width: 90px;
  height: 90px;
  left: -200px;
  z-index: 1140;
  position: fixed;  
  pointer-events:none;
  background:url(http://cdn.kinesis.io/hand.png) no-repeat center center;
}
/* cursor styles ends */

/* background styles starts */
body{
  background:url(http://cdn.kinesis.io/bg.png) repeat left top;
}
/* background styles ends */

.message {
  top: 0;
  width: 100%;
  padding: 10px;
  color: #555555;
  font-size: 14px;
  position: fixed;
  font-weight: bold;
  font-family: arial;  
  background-color: #fff389;
  text-transform: capitalize;
  box-shadow: 0 1px 2px #000000;
  text-shadow: 0 2px 3px #ffffff;
}

.message .closeBtn {
  width: 32px;
  float: right;
  height: 32px;
  cursor: pointer;
  margin: -8px 10px;
  text-indent: -9999px;
  background: url(http://cdn.kinesis.io/closeBtn.png) no-repeat scroll right top transparent;
}

